body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #5C3ECA;
  padding: 10px;
}

header h1 {
  margin: 0;
  color: rgb(255, 255, 169);
  text-align: left;
}
nav ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  text-align: left;
  display: flex;
}

nav ul li {
  display: flex;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  max-width: 400px;
  margin: 0 auto;
}

.container {
  text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-bottom: 20px;
  margin: 20px;
  color: #5C3ECA;
}

.tile {
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tile.correct {
  background-color: green; /* เปลี่ยนสีเมื่อเรียงถูกต้อง */
  color: #fff;
}

.message {
  font-size: 24px;
  font-weight: bold;
  color: #991515; /* สีข้อความเมื่อเรียงถูกต้อง */
  margin: 20px;
}

.start-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-btn:hover {
  background-color: #0056b3;
}

.timer {
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}