body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #5C3ECA;
  padding: 10px;
}

header h1 {
  margin: 0;
  color: rgb(255, 255, 169);
  text-align: left;
}
nav ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  text-align: left;
  display: flex;
}

nav ul li {
  display: flex;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* ส่วนของคลาส container */
.container {
  display: grid;
  gap: 20px;
  padding: 20px;

}

/* ส่วนของโปรไฟล์ */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* หัวเรื่องรูปโปรไฟล์ */
h2 {
  color: rgb(39, 0, 116);
}

/* รูปโปรไฟล์ */
.profile-pic {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ข้อมูลโปรไฟล์ */
.info {
  background-color: #faf2ff;
  color: rgb(39, 0, 116);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 auto; /* จัดกลางตามแนวนอน */
  box-sizing: border-box;
}

/* ส่วนของการศึกษา */
.Edu {
  background-color: #faf2ff;
  color: rgb(39, 0, 116);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ส่วนของทักษะ */
.Skills {
  background-color: #faf2ff;
  color: rgb(39, 0, 116);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ส่วนของการติดต่อ */
.grid-item.contact {
  background-color: #faf2ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ข้อมูลการติดต่อ */
.contact-info {
  margin-top: 20px;
}

/* รายการการติดต่อ */
.contact-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

/* รูปภาพการติดต่อ */
.contact-item img {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease;
  padding: 20px;
}

/* การเพิ่มขนาดของรูปภาพเมื่อโฮเวอร์ */
.contact-item img:hover {
  transform: scale(1.1);
}

/* การจัดวางลิงก์ของการติดต่อ */
.contact-item a:last-child {
  margin-right: 0;
}

/* การปรับขนาดสำหรับหน้าจอเล็ก */
@media (max-width: 768px) {
  .profile-pic {
    max-width: 100%;
    height: auto;
  }
}