body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #5C3ECA;
  padding: 10px;
}

header h1 {
  margin: 0;
  color: rgb(255, 255, 169);
  text-align: left;
}
nav ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  text-align: left;
  display: flex;
}

nav ul li {
  display: flex;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* ส่วนของคลาส container */
.container {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 20px;
  padding: 20px;
}

/* ส่วนของโปรไฟล์ */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* หัวเรื่องรูปโปรไฟล์ */
.profile h2 {
  margin-bottom: 10px; /* เพิ่มระยะห่างด้านล่างของ h2 */
  color: rgb(39, 0, 116);
}

/* ส่วนของโปรไฟล์ */
.profile-pic {
  width: 100%; /* เปลี่ยน width เป็น 100% เพื่อให้รูปภาพปรับขนาดตามขนาดของคอลัมน์ */
  max-width: 400px; /* เพิ่ม max-width เพื่อระบุขนาดสูงสุดของรูปภาพ */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ข้อมูลโปรไฟล์ */
.info  {
  background-color: #faf2ff;
  color: rgb(39, 0, 116);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* เพิ่มระยะห่างด้านบน */
}

.Edu  {
  background-color: #faf2ff;
  color: rgb(39, 0, 116);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* เพิ่มระยะห่างด้านบน */
}

.Skills  {
  background-color: #faf2ff;
  color: rgb(39, 0, 116);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* เพิ่มระยะห่างด้านบน */
}

.contact {
  background-color: #faf2ff;
  color: rgb(39, 0, 116);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* เพิ่มระยะห่างด้านบน */
}

/* ส่วนของการติดต่อ */
.contact-info {
  margin-top: 10px; /* ลดระยะห่างด้านบน */
}

/* ส่วนของรายการการติดต่อ */
.contact-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px; /* ลดระยะห่างด้านบน */
}

/* ส่วนของรูปภาพการติดต่อ */
.contact-item img {
  width: 50px;
  height: 50px; /* รักษาขนาดเป็น 100x100px */
  border-radius: 50%;
  transition: transform 0.3s ease;
  margin: 10px; /* เพิ่มระยะห่างรอบภาพ */
  
}

/* Hover effect สำหรับรูปภาพการติดต่อ */
.contact-item img:hover {
  transform: scale(1.1); /* เพิ่มขนาดเมื่อโฮเวอร์ */
}

/* การปรับขนาดสำหรับหน้าจอเล็ก */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* เปลี่ยนเป็นคอลัมน์เดียวสำหรับหน้าจอเล็ก */
  }

  .profile-pic {
    max-width: 100%; /* เพิ่ม max-width เพื่อให้รูปภาพปรับขนาดตามคอลัมน์ */
    height: auto;
  }
}